
@import url('../../../less/_main.less');

//variable for color code
/*@colour1: #00abff;
@colour2: #666666;
@colour3: #0a237c;
@colour4: #000000;
@colour5: #FFFFFF;
@colour6: #333333;
@colour7: #ddd;
@colour8: transparent;
@colour9: #ECECEC;
@colour10: #da6438;
@colour11: #eb704f;*/
@colour1: #22B500;
@colour2: #666666;
@colour3: #0a237c;
@colour4: #000000;
@colour5: #FFFFFF;
@colour6: #333333;
@colour7: #ddd;
@colour8: transparent;
@colour9: #ECECEC;
@colour10: #da6438;
@colour11: #eb704f;
@colour12:#FB871F;




//common colors
@main-color: @colour5;
@text-color: @colour2;
@highlighted-color: @colour1;
@link-text: @colour12;
@input-group-border-color: @colour2;
@button-background-color: @colour1;
@body-background-color: @colour5;
@h1-color: @colour12;
@body-text-color: @colour2;
@button-color: @colour5;
@textbox-border-color: @colour7;
@box-label-color: @colour2;
@logout-Link: @colour4;
@main-menu-color: @colour5;
@menu-active-hover-color: @colour1;
@main-menu: @colour4;
//warning
@warning-background-color: @colour1;
@warning-color: @colour5;
@warning-border-color: @colour4;

//footer
@footer-top-color: @colour1;

//header colors
@header-logo-background-color: @colour5;
@header-top-background-color: @colour12;
@header-color: @colour5;
@h2-text-color: @text-color;

//pagination colors
@pagination-active-background-color: @colour12;
@pagination-active-border-color: @colour5;
@pagination-color: @colour5;
@pagination-li-background-color: @colour1;


//document upload
@upload-file-table-background-color: @colour8;
@progress-bar-background-color: @colour1;
@upload-button-color: @main-color;
@upload-file-table-color: @colour2;

//box
@box-text-color: @colour1;
@calendar-selected-color: @colour1;

//table
@table-hover-background-color: @colour1;
@table-hover-text-color: @colour5;
//panel
@panel-border-color:@colour12;
@panel-header-color:@colour5;
@font-face {
    font-family: 'cronos';
    src: url('../Content/Theme/AndersonGroup/fonts/Cronos-MM-webfont.eot');
    src: url('../Content/Theme/AndersonGroup/fonts/Cronos-MM-webfont.eot?#iefix') format('embedded-opentype'), url('../Content/Theme/AndersonGroup/fonts/Cronos-MM-webfont.woff2') format('woff2'), url('../Content/Theme/AndersonGroup/fonts/Cronos-MM-webfont.woff') format('woff'), url('../Content/Theme/AndersonGroup/fonts/Cronos-MM-webfont.ttf') format('truetype'), url('../Content/Theme/AndersonGroup/fonts/Cronos-MM-webfont.svg#cronos_mmregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.header {
    position: relative;
    display: block;
    border-bottom: 3px solid @highlighted-color;
    background-color: @header-color;
     .user-menu li
        {
        width:25% !important;
    }

    .logo-container {
        text-align: center;
        background-color: @header-logo-background-color;
    }

    .logo {
        display: inline-block;
        height: 50px;
        margin: 5px 0;
    }

    .row {
        margin-left: -15px !important;
    }

    .header-top div {
        position: absolute;
        width: 100%;
        left: 0;
        display: block;
        background-color: @header-top-background-color;
        overflow: auto;

        a {
            position: relative;
            padding: 15px 0;
            width: 50%;
            float: right;
            line-height: 30px;
            font-size: 10px;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            color: @main-color;
        }

        .log-out {
            background-color: @logout-Link;
            color: @main-color;
        }
    }

    .navbar {
        padding: 0;
        border: none;

        .navbar-toggle {
            border: 1px solid @body-background-color;

            .icon-bar {
                background-color: @body-background-color;
            }
        }

        .navbar-collapse {
            padding-left: 0;
            padding-right: 0;
            width: 100% !important;
        }

        .nav {
            width: 100% !important;

            > li {
                position: relative;
                display: block;
                float: left;
                width: 14.28%;
                height: 30px;

                > a {
                    line-height: 30px;
                    font-size: 12px;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-align: center;
                    color: @main-menu;
                    letter-spacing: 1px;

                    &.active {
                        background-color: @menu-active-hover-color;
                        color: @main-menu-color;
                    }

                    &:hover {
                        background-color: @menu-active-hover-color;
                        color: @main-menu-color;
                    }
                }
            }
        }
    }
   
}

input[type=text], input[type=password] {
    border: 1px solid @textbox-border-color;
}

.btn:focus, .btn:hover {
    background-color: @colour1 !important;
    color: @colour5 !important;
}

/*body {
    background: @body-background-color;

    .blanklabel {
        color: @colour10;
    }
}*/

.userName {
    right: 66.6% !important;
}

@media only screen and (min-width:769px) {

    .header {
        .logo-container {
            background-color: @header-color;
        }

        .logo {
            height: 93px;
            margin: 20px 0;
        }

        .header-top div {
            position: relative;
            height: 43px;

            a {
                position: absolute;
                right: 33.3333%;
                width: 33.3333%;
                padding: 5px 0;
                line-height: 33px;
                font-size: 12px;
                letter-spacing: 1px;

                &.log-out {
                    right: 0;
                }

                &:hover {
                    background-color: @highlighted-color;
                    color: @main-color;
                }
            }
        }

        .navbar {
            .navbar-toggle, .navbar-header {
                display: none !important;
            }

            .nav {
                padding: 0 15px;

                a {
                    padding: 30px 0;
                }
            }
        }
    }
}


@media only screen and (max-width:768px) {

    .header-top {
        height: 60px !important;
    }

    .navbar {
        margin-bottom: 0;
        background-color: @header-top-background-color;
        width: 100%;

        .navbar-toggle {
            float: left !important;
            margin-left: 20px !important;
            width: auto !important;
            display: block !important;
        }

        .navbar-header {
            display: block !important;
        }

        .navbar-brand {
            padding: 15px 0 !important;
            color: @button-color !important;
        }

        .navbar-collapse {
            max-height: unset !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
            overflow-x: visible !important;
            border-top: none !important;
            box-shadow: none !important;
            width: 100% !important;

            &.collapse {
                display: none !important;
            }

            &.in {
                overflow-y: visible !important;
            }
        }

        .nav {
            margin: 0 !important;

            > li {
                width: 100% !important;
                height: auto !important;

                > a {
                    line-height: 20px !important;
                    text-align: left !important;
                    padding-left: 25px !important;
                    width: 100% !important;
                    color: @main-color !important;
                }
            }
        }
    }
}

.employeecreate,.textboxsize {
    input[type="text"], textarea ,input[type="password"]{
        width: 100% !important;
    }

    select {
        padding: 5px;
        margin: 10px 0;
        height: 40px;
    }
}

.linktobtn {
    background-color: @highlighted-color;
    color: @main-color!important;
    padding: 5px 22px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    float: right;
    width: 75px;
    text-decoration:none !important;
    margin-right: 10px;
    :hover,:focus {
        color: @main-color!important;
    }
   
}
 .Link-btn .btn{
            background-color: @highlighted-color;
    color: @main-color!important;
    border-color:@highlighted-color;
      text-transform: uppercase!important;
    }
.employeelist .linktobtn
{
       padding: 5px 12px;
}
.editbtnlink  
{
    padding: 5px 22px!important;
}
.desktopview,.mobileview {

    .button, button, input[type="submit"], input[type="reset"], input[type="button"] {
        padding: 5px 5px;
        width: 75px;
    margin-right: 10px;
    }
}
.CreatePortalAccount
{
    padding:5px 30px !important;
    width:242px!important;
}

//new slider css
#quote-carousel .carousel-indicators li ,#myCarousel .carousel-indicators li
                                     {
                                      background:#c0c0c0;   
                                     }
#quote-carousel .carousel-indicators .active,#myCarousel .carousel-indicators .active
{
     background:#333333;   
}
.table-bordered>tbody>tr:nth-child(even) > td
               {
                      background: #f9f9f9; 
               }

#myCarousel .glyphicon-chevron-left,#myCarousel .glyphicon-chevron-right{
     color:#cccccc!important;
}
.carousel-control.left,.carousel-control.right
{
    background-image:none;
}
/*.panel-default 
{
        border-color:@panel-border-color;
    
  
}
.panel-heading
{
        border-color:@panel-border-color !important;
            color:@colour5!important;
    background-color: @panel-border-color!important;
}*/
div#divLoading
{
    display: none;
    width:auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:1px solid #fff;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}
.modalpopupbtn{
        padding: 5px 5px;
    width: 75px;
    margin-right: 10px;
}

.modalpopuplabel {
    font-weight: normal;
    font-size: 14px;
    margin: 1px 0;
    line-height: 0;
}
.searchboxset
{
 left:-30px;
 float:left;
 width:100%;   
}
.editemp label
{
    text-align:left !important;
}
.addevent a{
    float:left;
    width:125px;
}
.deleteEmp
{
 padding:5px 2px!important;
 width:66px!important;   
}
.user-carousel .item img {
  display: block;
  height: 320px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  line-height: 1;
  /*opacity: 0.1;*/
}

.user-carousel .carousel-caption
{

 color:#333333;
 text-shadow:none;  
 top:0px; 
 left:10px!important;
 right:10px!important;
 max-height:300px;
 overflow:hidden;
 overflow-y:auto;  
 padding-top:0px; 
     text-align: initial!important;
}
/*.user-control .carousel-control
{
 width:3%!important;   
}
.user-carousel .glyphicon-chevron-right
{
    left:15%;

}*/



blockquote small:before
{
    content:none!important;

}
.active-btn,.active-btn:hover{
    background-color:@link-text!important;
    border-color:@link-text!important;
     background:@link-text!important;
}

.newemp
{
      background-color:@highlighted-color!important;
    border-color:@highlighted-color!important;
    color:@main-color!important;
}

@media screen and (min-width: 768px)
{
    .user-carousel .carousel-caption
{


 left:10px!important;
 right:10px!important;
  
}
       .user-control .carousel-indicators  {
    bottom: -10px;
    }
}