<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <p>
            Hi [EmployeeName],
            <br/>
            <br/>
            Your account has been created for LMS.Kindly login with following credentials.
            <br/>
            <br />
            <b>URL:</b>&nbsp;[URL]
            <br />
            <br />
            <b>Username:</b>&nbsp;[Username]
            <br />
            <b>Password:</b>&nbsp;[Password]
            <br />
            <br />
            Regards,
            <br />
            <b>Anderson BPO.</b>
        </p>
    </div>

</body>
</html>
